<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="WARN"></root>
    <logger name="edu.purdue.cybercenter.dm" level="INFO"/>
</configuration>
