/* main elements */
body, div, td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555555;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

#debug {
}

#auth {
    margin: 4px;
    margin-left: 1em;
    margin-right: 1em;
}

#header {
}

#menu {
}

#main {
}

#footer {
}

#copyright {
    margin: 4px;
    margin-left: 1em;
    margin-right: 1em;
    color: #888888;
}

.footer-bar {
    padding: 5px;
    background-color: #333333;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.floatRightToButton {
    display: inline;
    float: right;
    padding-top: 10px;
}

.halfMinus {
    width: 49%
}

.halfPlus {
    width: 51%
}

.half {
    width: 50%
}

.third {
    width: 32%
}

.twoThirds {
    width: 66%
}

.oneTenth {
    width: 9%
}

.twoTenths {
    width: 19%
}

.threeTenths {
    width: 29%
}

.fourTenths {
    width: 39%
}

.fiveTenths {
    width: 49%
}

.sixTenths {
    width: 59%
}

.sevenTenths {
    width: 69%
}

.eightTenths {
    width: 79%
}

.nineTenths {
    width: 89%
}

.clearBoth {
    clear: both;
}

.instruction {
    background-color: #D8B600;
    padding: 10px;
    color: #333333;
}

.quicklinks {
    clear:both;
    padding-bottom: 15px
}
.quicklinks span {
    float: right;
}

table.navigation {
    border: 0px;
}

table.borderless {
    border: 0px;
    /*
    background: #FFFFFF;
    */
    margin: 0 0 0 0;
    width: 100%
}

.table tbody > tr > td {
    vertical-align: middle;
}

table.table-striped tbody > tr > td {
    border: none;
}

table.borderless tr, table.borderless td {
    border: 0px;
}

table.plain {
    border: 0 !important;
    /*width: auto !important;*/
    margin: 0 !important;
}

table.plain tr td  {
    border: 0 !important;
    background-color: #fff !important;
}

.table-striped td, .table-striped th {
    padding: 2px;
}

.table-striped th {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    color: #FFF;
    background: #999;
}

label {
    /*
    width:120px;
    float:left;
    */
    //word-wrap: break-word;
    //white-space: normal;
}

input, textarea, select {
    border:1px solid #B3B3B3;
    resize: none;
}

input.image {
    border: none;
    height: auto;
}

div {
    text-align: left;
}

div .box {
    display:block;
    margin-left:105px;
}

/* menu elements*/

/*a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;}*/

/* text styles */

.claro h1,h2,h3,h4,h5,h6 {
    margin-top: 10px;
    font-weight: bold;
    color: #a57600;
}

.claro h1 {
    font-size: 22px;
}

.claro h2 {
    font-size: 20px;
}

.claro h3 {
    font-size: 18px;
}

.claro h4 {
    font-size: 16px;
}

.claro h5 {
    font-size: 14px;
}

.claro h6 {
}

.errors {
    color: red;
    font-weight: bold;
    display: block;
}

.error {
    color: red;
    font-weight: bold;
}

.warn {
    background-color: #D8B600;
    color: #333333;
}

.info {
    background-color: #D8B600;
    color: #333333;
}

a img {
    border: 0 none;
    vertical-align: middle;
}

a:link {
    /*color: #D8B600;*/
    text-decoration: underline;
}

.nav a:link {
    text-decoration: none;
}

a:hover {
}

a:active {
    /*color: #D8B600;*/
}

a:visited {
    color: #777777;
}

li {
    padding-top: 5px;
    text-align: left;
}

ul li {
    margin:0 0 0.25em 0;
    padding:0;
}

/* table elements */
.form table {
    width: 100%;
    background: #EEEEEE;
    margin: 2px 0 0 0;
    border: 1px solid #BBBBBB;
    border-collapse: collapse;
}

.form table table {
    width: 100%;
    margin: -5px 0;
    border: 0px solid #e0e7d3;
    width: 100%;
}

.form table td, .form table th {
    padding: 2px;
    border: 1px solid #CCCCCC;
}

.form table td form {
    text-align:center;
    vertical-align: middle;
    margin: 0px;
}

.form table th {
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    color: #FFF;
    background: #999;
}

.form table thead {
    font-weight: bold;
    font-style: italic;
    background-color: #BBBBBB;
}

.form tr:nth-child(odd) {
    background-color: #EFEFEF;
}

.form tr:nth-child(even) {
    background-color: #FFFFFF;
}

/*
table a:link {color: #303030;}
*/
caption {
    caption-side: top;
    width: auto;
    text-align: left;
    color: #848f73;
    padding-bottom: 4px;
}

fieldset {
    background: #e0e7d3;
    padding: 8px;
    padding-bottom: 12px;
    border: none;
    width: 560px;
}

legend {
    font-size: 14px;
    text-align: left;
    color: #D8B600;
    font-weight: bold;
}

/*
fieldset label {
    width: 70px;
    float: left;
    margin-top: 1.7em;
    margin-left: 20px;
}

fieldset textfield {
    margin: 3px;
    height: 20px;
    background: #e0e7d3;
}

fieldset textarea {
    margin: 3px;
    height: 165px;
    background: #e0e7d3;
}

fieldset input {
    margin: 3px;
    height: 20px;
    background: #e0e7d3;
}

fieldset table {
    width: 100%;
}

fieldset th {
    padding-left: 25px;
}
*/

.table-buttons {
    background-color:#fff;
    border:none;
}

.table-buttons td {
    border:none;
}

.submit input {
    border: 1px solid #BBBBBB;
    color:#777777;
    padding:2px 7px;
    font-size:11px;
    /*
        text-transform:uppercase;
    */
    font-weight:bold;
    height:24px;
}

.updated {
    background:#ecf1e5;
    font-size:11px;
    margin-left:2px;
    border:4px solid #ecf1e5;
}

.updated td {
    padding:2px 8px;
    font-size:11px;
    color:#888888;
}

/*
.dijitTextArea{
    min-height:5.5em !important;
    max-height:22em !important;
    overflow-y: auto !important;
}

.RichTextEditable{
    min-height:18em !important;
    max-height:18em !important;
}
*/

.flag {
    width: 16px;
}

/* Customization
.tundra .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
    background-color: #D8B600;
    color: #FFFFFF;
}

.tundra .dijitMenuPassive .dijitMenuItemHover, .tundra .dijitMenuItemSelected {
    background-color: #D8B600;
    color: #FFFFFF;
}

.claro .dijitMenuPassive .dijitMenuItemHover, .claro .dijitMenuItemSelected {
    background-color: #D8B600;
    color: #FFFFFF;
}
*/
.claro .dijitSelectMenu .dijitMenuItemHover td, .claro .dijitSelectMenu .dijitMenuItemSelected td, .claro .dijitMenuItemHover, .claro .dijitMenuItemSelected {
    background-color: #D8B600;
}

.claro .dijitTextBox {
    width: 240px;
}

.claro .dijitTextArea {
    width: 236px;
}

.claro .dojoxCheckedMultiSelectWrapper {
    width: 223px;
}

.claro table td .dijitTextBox {
    width: 100%;
}

.claro table td .dijitTextArea {
    width: 99%;
}

.claro table td .dijitEditor {
    width: 100%;
}

/*
.claro .dojoxGridFDTitlePane .dijitTextBox {
    width: 130px;
}
*/

select.claro  {
    width: 240px;
}

.browseButton {
    width: 300px;
    height: 30px;
    margin: 1px 0 1px 0;
    display: block;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.inlineIcon {
    vertical-align: middle;
}

.termNameLabel {
    display: inline-block;
    width: 150px;
}

.termIndexLabel {
    display: inline-block;
    width: 50px;
}

.storageFileContainer {
    /*margin-left: 150px;*/
}

.gridxCellWidget .storageFileContainer {
    margin-left: 0;
}

.gridxCellWidget li .storageFileContainer {
    margin-left: 150px;
}

.selectedSearchHit table tbody tr th {
    background-color: #0000ff;
}

.searchform > .searchsubmit {
    width: 14%;
    height: 25px;
    background: transparent url(images/icon_magnify.png) 0 0 no-repeat;
    margin: -2px 0 0 0;
}

.projectIcon {
    background-image: url("../images/famfamfam_silk_icons_v013/icons/application_cascade.png");
    width: 16px;
    height: 16px;
}

.experimentIcon {
    background-image: url("../images/famfamfam_silk_icons_v013/icons/application_double.png");
    width: 16px;
    height: 16px;
}

.jobIcon {
    background-image: url("../images/famfamfam_silk_icons_v013/icons/table.png");
    width: 16px;
    height: 16px;
}

.jobHasDataIcon {
    background-image: url("../images/famfamfam_silk_icons_v013/icons/table.png");
    width: 16px;
    height: 16px;
}

.jobNoDataIcon {
    background-image: url("../images/famfamfam_silk_icons_v013/icons/bullet_white.png");
    width: 16px;
    height: 16px;
}

.radioButtonLabel {
    width: auto;
    margin-bottom: 0px;
    float: none;
    font-weight: normal;
}

/* For angular client-side validation, color border of invalid element */
ng-form.submitted .ng-invalid {
    border: 1px solid red !important;
}

/* Styling for bootstrap upload buttons */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*--------------------------------*/

/* For input of type "number", webkit based browsers, e.g. chrome and firefox, add a spinner for increamenting/decreamenting value. These styles hide the spinner." */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/*-------------------------------- */

/* Overide default bootstrap size for buttons and inputs */
input {
    font-size: inherit !important;
    height: auto !important;
}

textarea {
    font-size: inherit !important;
}

.btn, .input-group-btn {
    font-size: inherit !important;
}

/* Large angular ui modal */
.largeModal .modal-dialog{
    width: 80%;
}

/* This is a dirty fix for a bug with angular-ui. Popup widgets, e.g. dropdown or date-picker, don't open when used in a modal window */
body > ul.dropdown-menu, div > ul.dropdown-menu {
    z-index:99999999999;
}

/* For widgets in grid disable bootstrap column styling for labels. Otherwise labels won't have enough room */
div.ui-grid-cell-contents div.row label {
    display: block !important;
    float: none !important;
}

/* Reduce left and right padding on the filter searchbox container in a ui-grid */
.ui-grid-filter-container {
    padding-right: 5px;
    padding-left: 5px;
}

/* Remove dots in the ui-grid pagination section. abbr elements (which are used in the pagination section) have dots at the bottom. */
abbr[title] {
    border-bottom: none;
}

/* Styling angular-ui tabs */
.tab-content {
    height: 100%;
}

.tab-content > .tab-pane {
    height: 100%;
    padding: 5px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.noPadding {
    padding: 0;
}